.product_checkout{
    display: flex;
    margin: 5px;
}

.product_img{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.product_raiting{
    display: flex;
}

.product_details{
    padding-left: 20px;
}

.producto_btn{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 3px;
    color: #111;
}